main {
  max-height: 100vh;
  overflow-y: auto;
  background-color: #ebf2ed;
}

.activity-logs-header {
  padding: 1.6rem 1.6rem 3.6rem 1.6rem;
  margin-bottom: 1.4rem;
  background-color: var(--background-white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 14px;
}

.activity-logs-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #1a1a1a;
  margin: 0;
}

.activity-logs-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b4b4b;
  margin-top: 0.5rem;
}